################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/html5-geolocations/obj/Debug
*.config
